<div class="sidebar-wrapper">
  <div class="logo">
    <a class="simple-text">
      <div class="logo-img">
        <img src="../../assets/img/baseline_flight_takeoff_black_18dp.png" alt="">
      </div>
      e-Flight
    </a>
  </div>
  <ul class="nav">
    <li>
      <a routerLink="home">
        <i class="ti-home"></i>
        <p>Home</p>
      </a>
    </li>

    <li>
      <a routerLink="flights">
        <i class="ti-arrow-top-right"></i>
        <p>Voôs</p>
      </a>
    </li>

    <li>
      <a routerLink="hotels">
        <i class="ti-location-pin"></i>
        <p>Hotéis</p>
      </a>
    </li>
    <li>
      <a routerLink="cars">
        <i class="ti-car"></i>
        <p>Carros</p>
      </a>
    </li>

    <li>
        <a routerLink="reservations">
            <i class="ti-pencil-alt"></i>
            <p>Reservas</p>
        </a>
    </li>



    <!--
        <li routerLinkActive="active">
        <a>
            <i class="ti-close"></i>
            <p>Hide Basket</p>
        </a>
        </li>
    -->

  </ul>
</div>
