################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/angular-crud/TestingStrategyTurism.Server/TestEstrategyTurism.Domain/bin/Debug/netcoreapp2.2
/angular-crud/TestingStrategyTurism.Server/TestEstrategyTurism.Data/bin/Debug/netcoreapp2.2
/angular-crud/TestingStrategyTurism.Server/TestEstrategyTurism.Application/bin/Debug/netcoreapp2.2
/angular-crud/TestingStrategyTurism.Server/bin/netcoreapp2.2
/angular-crud/TestingStrategyTurism.Server/TestEstrategyTurism.Application/obj/Debug/netcoreapp2.2
/angular-crud/TestingStrategyTurism.Server/.vs/TestingStrategyTurism.Server/v15/Server/sqlite3
/angular-crud/TestingStrategyTurism.Server/.vs/TestingStrategyTurism.Server/v15/.suo
/angular-crud/TestingStrategyTurism.Server/TestEstrategyTurism.Application/obj
/angular-crud/TestingStrategyTurism.Server/TestEstrategyTurism.Domain/obj/Debug/netcoreapp2.2
/angular-crud/TestingStrategyTurism.Server/TestEstrategyTurism.Domain/obj
/angular-crud/TestingStrategyTurism.Server/TestingStrategyTurism.API/bin/Debug/netcoreapp2.2
/angular-crud/TestingStrategyTurism.Server/TestingStrategyTurism.API/obj/Debug/netcoreapp2.2
/angular-crud/TestingStrategyTurism.Server/TestingStrategyTurism.DB/bin/Debug
/angular-crud/TestingStrategyTurism.Server/TestingStrategyTurism.DB/obj/Debug
/angular-crud/TestingStrategyTurism.Server/TestingStrategyTurism.Server.sln.DotSettings.user
/angular-crud/TestingStrategyTurism.Server/Turism.Infra/bin/Debug/netcoreapp2.2
/angular-crud/TestingStrategyTurism.Server/Turism.Infra/obj/Debug/netcoreapp2.2
/angular-crud/TestingStrategyTurism.Server/Turism.Infra/obj
/angular-crud/TestingStrategyTurism.Server/.vs/TestingStrategyTurism.Server/v16/Server/sqlite3
/angular-crud/TestingStrategyTurism.Server/.vs/TestingStrategyTurism.Server/v16/.suo
/angular-crud/TestingStrategyTurism.Server/.vs/TestingStrategyTurism.Server/DesignTimeBuild/.dtbcache
/angular-crud/TestingStrategyTurism.Server/TestEstrategyTurism.Data/obj/Debug/netcoreapp2.1
/angular-crud/TestingStrategyTurism.Server/.vs/TestingStrategyTurism.Server/config
/angular-crud/TestingStrategyTurism.Server/TestEstrategyTurism.Data/obj
/angular-crud/TestingStrategyTurism.Server/TestingStrategyTurism.API/obj
/angular-crud/TestingStrategyTurism.Server/.vs/eFlightServer/v16/Server/sqlite3
/angular-crud/TestingStrategyTurism.Server/.vs/eFlightServer/v16/.suo
/angular-crud/TestingStrategyTurism.Server/TestingStrategyTurism.API/eFlight.API.csproj.user
/angular-crud/TestingStrategyTurism.Server/eFlight.API/obj/Debug/netcoreapp2.2
/angular-crud/TestingStrategyTurism.Server/eFlight.API/obj
/angular-crud/TestingStrategyTurism.Server/eFlight.API/Properties
/angular-crud/TestingStrategyTurism.Server/eFlight.Application/obj/Debug/netcoreapp2.2
/angular-crud/TestingStrategyTurism.Server/eFlight.Application/obj
/angular-crud/TestingStrategyTurism.Server/eFlight.Domain/obj/Debug/netcoreapp2.1
/angular-crud/TestingStrategyTurism.Server/eFlight.Domain/obj/Debug/netcoreapp2.2
/angular-crud/TestingStrategyTurism.Server/eFlight.Domain/obj
/angular-crud/TestingStrategyTurism.Server/eFlight.Infra.Data/obj/Debug/netcoreapp2.1
/angular-crud/TestingStrategyTurism.Server/eFlight.Infra.Data/obj/Debug/netcoreapp2.2
/angular-crud/TestingStrategyTurism.Server/eFlight.Infra.Data/obj
/angular-crud/eFlight.Server/.vs/eFlight.Server/v15/Server/sqlite3
/angular-crud/eFlight.Server/.vs/eFlight.Server/v15/.suo
/angular-crud/eFlight.Server/bin/netcoreapp2.2
/angular-crud/eFlight.Server/eFlight.DB/bin/Debug
/angular-crud/eFlight.Server/eFlight.Domain/obj/Debug/netcoreapp2.2
/angular-crud/eFlight.Server/eFlight.Domain/obj
/angular-crud/eFlight.Server/.vs/eFlight.Server/config/applicationhost.config
/angular-crud/eFlight.Server/.vs/eFlight.Server/v16/Server/sqlite3
/angular-crud/eFlight.Server/eFlight.DB
/angular-crud/eFlight.Server/.vs/eFlight.Server/v16/.suo
/angular-crud/eFlight.Server/.vs/eFlight.Server/lut
/angular-crud/eFlight.Server/eFlight.Domain.Test/bin/Debug/netcoreapp2.2
/angular-crud/eFlight.Server/eFlight.Domain.Test/obj/Debug
/angular-crud/eFlight.Server/eFlight.Domain.Test/obj
/angular-crud/eFlight.Server/eFlight.Application.Test/bin/Debug/netcoreapp2.2
/angular-crud/eFlight.Server/eFlight.Application.Test/obj/Debug/netcoreapp2.1
/angular-crud/eFlight.Server/eFlight.Application.Test/obj/Debug/netcoreapp2.2
/angular-crud/eFlight.Server/eFlight.Application.Test/obj
/angular-crud/eFlight.Server/eFlight.Infra/obj/Debug/netcoreapp2.2
/angular-crud/eFlight.Server/eFlight.Infra/obj
/angular-crud/eFlight.Server/eFlight.Infra.Test.Builder/obj/Debug/netcoreapp2.2
/angular-crud/eFlight.Server/eFlight.Infra.Test.Builder/obj
/angular-crud/eFlight.Server/.vs/eFlight.Server/v16/TestStore/0
/angular-crud/eFlight.Server/eFlight.Controller.Test/bin/Debug/netcoreapp2.2
/angular-crud/eFlight.Server/eFlight.Infra/bin/Debug/netcoreapp2.2
/angular-crud/eFlight.Server/eFlight.Infra.Data.Tests/bin/Debug
/angular-crud/eFlight.Server/eFlight.Infra.Data.Tests/obj/Debug
/angular-crud/eFlight.Server/eFlight.Infra.Data.Tests/obj
/angular-crud/eFlight.Server/eFlight.Tests.Common/bin/Debug/netcoreapp2.2
/angular-crud/eFlight.Server/eFlight.Tests.Common/obj/Debug/netcoreapp2.1
/angular-crud/eFlight.Server/eFlight.Tests.Common/obj/Debug/netcoreapp2.2
/angular-crud/eFlight.Server/eFlight.Tests.Common/obj
/angular-crud/eFlight.Server/.vs/eFlight.Server/v16/TestStore/1
/angular-crud/eFlight.Server/eFlight.Acceptation.Tests/bin/Debug/netcoreapp2.2
/angular-crud/eFlight.Server/eFlight.Acceptation.Tests/bin/Debug/netcoreapp3.0/cs
/angular-crud/eFlight.Server/eFlight.Acceptation.Tests/bin/Debug/netcoreapp3.0/de
/angular-crud/eFlight.Server/eFlight.Acceptation.Tests/bin/Debug/netcoreapp3.0/es
/angular-crud/eFlight.Server/eFlight.Acceptation.Tests/bin/Debug/netcoreapp3.0/fr
/angular-crud/eFlight.Server/eFlight.Acceptation.Tests/bin/Debug/netcoreapp3.0
/angular-crud/eFlight.Server/eFlight.Acceptation.Tests/bin/Release/netcoreapp2.2
/angular-crud/eFlight.Server/eFlight.Acceptation.Tests/obj
/angular-crud/eFlight.Server/eFlight.API/bin/Release/netcoreapp2.2
/angular-crud/eFlight.Server/eFlight.API/obj/Release/netcoreapp2.2/PubTmp/Out
/angular-crud/eFlight.Server/eFlight.API/obj/Release/netcoreapp2.2
/angular-crud/eFlight.Server/eFlight.Application/bin/Release/netcoreapp2.2
/angular-crud/eFlight.Server/eFliight.Integration.Tests/bin/Debug
/angular-crud/eFlight.Server/eFliight.Integration.Tests/obj
/angular-crud/eFlight.Server/eFlight.Tests.Common/bin/Release/netcoreapp2.2
/angular-crud/eFlight.Server/eFlight.Infra.Data/bin/Release/netcoreapp2.2
/angular-crud/eFlight.Server/eFlight.Infra/bin/Release/netcoreapp2.2
/angular-crud/eFlight.Server/eFlight.Domain/bin/Release/netcoreapp2.2
/angular-crud/eFlight.Server/eFlight.API/Properties/PublishProfiles
/angular-crud/eFlight.Server/eFlight.Controller.Test/obj/Debug/netcoreapp2.1
/angular-crud/eFlight.Server/eFlight.Controller.Test/obj/Debug/netcoreapp2.2
/angular-crud/eFlight.Server/eFlight.Controller.Test/obj/Release/netcoreapp2.2
/angular-crud/eFlight.Server/eFlight.Controller.Test/obj
