################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/angular-crud/TestingStrategyTurism.Server/TestEstrategyTurism.Domain/bin/Debug/netcoreapp2.2
/angular-crud/TestingStrategyTurism.Server/TestEstrategyTurism.Data/bin/Debug/netcoreapp2.2
/angular-crud/TestingStrategyTurism.Server/TestEstrategyTurism.Application/bin/Debug/netcoreapp2.2
/angular-crud/TestingStrategyTurism.Server/bin/netcoreapp2.2
/angular-crud/TestingStrategyTurism.Server/TestEstrategyTurism.Application/obj/Debug/netcoreapp2.2
/angular-crud/TestingStrategyTurism.Server/.vs/TestingStrategyTurism.Server/v15/Server/sqlite3
/angular-crud/TestingStrategyTurism.Server/.vs/TestingStrategyTurism.Server/v15/.suo
/angular-crud/TestingStrategyTurism.Server/TestEstrategyTurism.Application/obj
/angular-crud/TestingStrategyTurism.Server/TestEstrategyTurism.Domain/obj/Debug/netcoreapp2.2
/angular-crud/TestingStrategyTurism.Server/TestEstrategyTurism.Domain/obj
/angular-crud/TestingStrategyTurism.Server/TestingStrategyTurism.API/bin/Debug/netcoreapp2.2
/angular-crud/TestingStrategyTurism.Server/TestingStrategyTurism.API/obj/Debug/netcoreapp2.2
/angular-crud/TestingStrategyTurism.Server/TestingStrategyTurism.DB/bin/Debug
/angular-crud/TestingStrategyTurism.Server/TestingStrategyTurism.DB/obj/Debug
/angular-crud/TestingStrategyTurism.Server/TestingStrategyTurism.Server.sln.DotSettings.user
/angular-crud/TestingStrategyTurism.Server/Turism.Infra/bin/Debug/netcoreapp2.2
/angular-crud/TestingStrategyTurism.Server/Turism.Infra/obj/Debug/netcoreapp2.2
/angular-crud/TestingStrategyTurism.Server/Turism.Infra/obj
/angular-crud/TestingStrategyTurism.Server/.vs/TestingStrategyTurism.Server/v16/Server/sqlite3
/angular-crud/TestingStrategyTurism.Server/.vs/TestingStrategyTurism.Server/v16/.suo
/angular-crud/TestingStrategyTurism.Server/.vs/TestingStrategyTurism.Server/DesignTimeBuild/.dtbcache
/angular-crud/TestingStrategyTurism.Server/TestEstrategyTurism.Data/obj/Debug/netcoreapp2.1
/angular-crud/TestingStrategyTurism.Server/.vs/TestingStrategyTurism.Server/config
/angular-crud/TestingStrategyTurism.Server/TestEstrategyTurism.Data/obj
/angular-crud/TestingStrategyTurism.Server/TestingStrategyTurism.API/obj
/angular-crud/TestingStrategyTurism.Server/.vs/eFlightServer/v16/Server/sqlite3
/angular-crud/TestingStrategyTurism.Server/.vs/eFlightServer/v16/.suo
/angular-crud/TestingStrategyTurism.Server/TestingStrategyTurism.API/eFlight.API.csproj.user
/angular-crud/TestingStrategyTurism.Server/eFlight.API/obj/Debug/netcoreapp2.2
/angular-crud/TestingStrategyTurism.Server/eFlight.API/obj
/angular-crud/TestingStrategyTurism.Server/eFlight.API/Properties
/angular-crud/TestingStrategyTurism.Server/eFlight.Application/obj/Debug/netcoreapp2.2
/angular-crud/TestingStrategyTurism.Server/eFlight.Application/obj
/angular-crud/TestingStrategyTurism.Server/eFlight.Domain/obj/Debug/netcoreapp2.1
/angular-crud/TestingStrategyTurism.Server/eFlight.Domain/obj/Debug/netcoreapp2.2
/angular-crud/TestingStrategyTurism.Server/eFlight.Domain/obj
/angular-crud/TestingStrategyTurism.Server/eFlight.Infra.Data/obj/Debug/netcoreapp2.1
/angular-crud/TestingStrategyTurism.Server/eFlight.Infra.Data/obj/Debug/netcoreapp2.2
/angular-crud/TestingStrategyTurism.Server/eFlight.Infra.Data/obj
