################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/angular-crud/TestingStrategyTurism.Server/TestEstrategyTurism.Domain/bin/Debug/netcoreapp2.2
/angular-crud/TestingStrategyTurism.Server/TestEstrategyTurism.Data/bin/Debug/netcoreapp2.2
/angular-crud/TestingStrategyTurism.Server/TestEstrategyTurism.Application/bin/Debug/netcoreapp2.2
/angular-crud/TestingStrategyTurism.Server/bin/netcoreapp2.2
/angular-crud/TestingStrategyTurism.Server/TestEstrategyTurism.Application/obj/Debug/netcoreapp2.2
/angular-crud/TestingStrategyTurism.Server/.vs/TestingStrategyTurism.Server/v15/Server/sqlite3
/angular-crud/TestingStrategyTurism.Server/.vs/TestingStrategyTurism.Server/v15/.suo
/angular-crud/TestingStrategyTurism.Server/TestEstrategyTurism.Application/obj
/angular-crud/TestingStrategyTurism.Server/TestEstrategyTurism.Domain/obj/Debug/netcoreapp2.2
/angular-crud/TestingStrategyTurism.Server/TestEstrategyTurism.Domain/obj
/angular-crud/TestingStrategyTurism.Server/TestingStrategyTurism.API/bin/Debug/netcoreapp2.2
/angular-crud/TestingStrategyTurism.Server/TestingStrategyTurism.API/obj/Debug/netcoreapp2.2
/angular-crud/TestingStrategyTurism.Server/TestingStrategyTurism.DB/bin/Debug
/angular-crud/TestingStrategyTurism.Server/TestingStrategyTurism.DB/obj/Debug
/angular-crud/TestingStrategyTurism.Server/TestingStrategyTurism.Server.sln.DotSettings.user
/angular-crud/TestingStrategyTurism.Server/Turism.Infra/bin/Debug/netcoreapp2.2
/angular-crud/TestingStrategyTurism.Server/Turism.Infra/obj/Debug/netcoreapp2.2
/angular-crud/TestingStrategyTurism.Server/Turism.Infra/obj
/angular-crud/TestingStrategyTurism.Server/.vs/TestingStrategyTurism.Server/v16/Server/sqlite3
/angular-crud/TestingStrategyTurism.Server/.vs/TestingStrategyTurism.Server/v16
/angular-crud/TestingStrategyTurism.Server/TestingStrategyTurism.API/obj/Debug/netcoreapp2.0/TestingStrategyTurism.API.assets.cache
/angular-crud/TestingStrategyTurism.Server/TestEstrategyTurism.Data/obj/TestEstrategyTurism.Data.csproj.nuget.dgspec.json
/angular-crud/TestingStrategyTurism.Server/TestingStrategyTurism.API/obj
