<div class="card">
    <div class="header">
        <h1 class="title">Reservation Detail</h1>
    </div>
    <div class="content">

        <p *ngIf="errors">{{ errors }}</p>

        <form *ngIf="reservation">

            <!-- <div class="form-group">
                <label>Id:</label>
                <input [(ngModel)]="reservation.id" name="id" class="form-control">
            </div> -->

            <div class="form-group">
                <label>Nome:</label>
                <input [(ngModel)]="reservation.name" name="from" class="form-control">
            </div>

            <div class="form-group">
                <label>Hotel:</label>
                <input [(ngModel)]="reservation.hotel" name="to" class="form-control">
            </div>

            <div class="form-group">
                <label>Carro:</label>
                <input [(ngModel)]="reservation.car" name="date" class="form-control">
            </div>

            <div class="form-group">
                <button
                (click)="save()"
                class="btn btn-default">Save</button>
            </div>

        </form>

    </div>
</div>
