<div class="card">
  <div class="header">
    <h2 class="title">Voos</h2>
  </div>
  <div class="content">
    <form #f="ngForm">
      <div class="form-group">
        <label>Origem:</label>
        <input [(ngModel)]="filter.origin" name="from" class="form-control">
      </div>
      <div class="form-group">
      </div>
    </form>
  </div>
</div>

<div class="card" *ngIf="flightList">
  <table class="table table-contensed">
    <thead>
      <tr>
        <th>Id</th>
        <th>Origem</th>
        <th>Destino</th>
        <th>Empresa</th>
      </tr>
    </thead>
    <tr *ngFor="let flight of flightList" [class.active]="flight === selectedFlight">
      <td>{{flight.id}}</td>
      <td>{{flight.origin}}</td>
      <td>{{flight.destination}}</td>
      <td>{{flight.company}}</td>
      <td>
        <a [routerLink]="['../flightReservation', flight.id ]" class="btn btn-default" style="float:right;">Ver Reservas
        </a>
        <a> </a>
        <a [routerLink]="['../flightReservationForm','new', flight.id]" class="btn btn-default" style="float:right;">
          Nova Reserva
        </a>
      </td>
    </tr>
  </table>
</div>
