<div class="card">
    <div class="header">
        <h1 class="title">Travel Package Detail</h1>
    </div>
    <div class="content">

        <p *ngIf="errors">{{ errors }}</p>

        <form *ngIf="travelPackage">

            <!-- <div class="form-group">
                <label>Id:</label>
                <input [(ngModel)]="reservation.id" name="id" class="form-control">
            </div> -->

            <div class="form-group">
                <label>Nome:</label>
                <input [(ngModel)]="travelPackage.name" name="Nome" class="form-control">
            </div>

            <!-- <div class="form-group">
                <label>Hotel:</label>
                <input [(ngModel)]="reservation.hotel.name" name="to" class="form-control">
            </div>

            <div class="form-group">
                <label>Carro:</label>
                <input [(ngModel)]="reservation.car.model" name="date" class="form-control">
            </div> -->

            <div class="form-group">
                <button
                (click)="save()"
                class="btn btn-default">Save</button>
            </div>

        </form>

    </div>
</div>
